.tr-custom-unit-control .components-input-control__suffix {
  background-color: #F62477 !important;
  padding: 0 !important;
  margin: 0 !important;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  display: flex !important;
  align-items: stretch !important;
}

.tr-custom-unit-control select,
.tr-custom-unit-control button,
.tr-custom-unit-control .components-button,
.tr-custom-unit-control .components-custom-select-control__button,
.tr-custom-unit-control .components-unit-control__select,
.tr-custom-unit-control .components-unit-control__unit-label {
  background-color: transparent !important;
  color: white !important;
  border-color: transparent !important;
  text-align: center !important;
  font-size: 11px !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  display: flex !important;
  height: 100% !important;
  border-radius: 0 !important;
  margin: 0 !important;
  align-items: center !important;
  justify-content: center !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
  outline: none !important;
  box-shadow: none !important;
  min-width: 22px !important;

  * {
    font-size: 11px !important;
    color: white !important;
  }
}

.tr-custom-unit-control option,
.tr-custom-unit-control .components-custom-select-control__item,
.tr-custom-unit-control .components-select-control__option {
  color: #1e293b !important;
  background-color: #F62477 !important;
  text-transform: uppercase !important;
}

.tr-custom-unit-control select:focus,
.tr-custom-unit-control select:focus-visible,
.tr-custom-unit-control select:active,
.tr-custom-unit-control button:focus,
.tr-custom-unit-control button:focus-visible,
.tr-custom-unit-control button:active,
.tr-custom-unit-control .components-button:focus,
.tr-custom-unit-control .components-button:focus-visible,
.tr-custom-unit-control .components-button:active,
.tr-custom-unit-control .components-custom-select-control__button:focus,
.tr-custom-unit-control .components-custom-select-control__button:focus-visible,
.tr-custom-unit-control .components-custom-select-control__button:active,
.tr-custom-unit-control .components-unit-control__select:focus,
.tr-custom-unit-control .components-unit-control__select:focus-visible,
.tr-custom-unit-control .components-unit-control__select:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: #F62477 !important;
}

.tr-custom-unit-control .components-custom-select-control {
  background-color: transparent !important;
}

.tr-custom-unit-control .components-input-control__container,
.tr-custom-unit-control .components-input-control__backdrop,
.tr-custom-unit-control .components-input-control__suffix {
  min-height: 32px !important;
  height: 32px !important;
}

.tr-custom-unit-control .components-input-control__input {
  min-height: 32px !important;
  height: 32px !important;
  padding-left: 4px !important;
}
